* {
    box-sizing: border-box;
}

html {
    height: 5000px;
}

body {
    font-size: 150%;
    line-height: 1.5;
    height: 100%;
}

header {
    position: fixed;
    height: 120px;
    width: 100%;
    top: 0;
    left: 0;
    border: 1px solid red;
    padding: 5px;
    background: white;
    display: flex;
}

main {
    padding-top: 150px;
    max-width: 768px;
    margin: 0 auto;
    border: 1px solid blue;
    min-height: 100%;
}

.alert {
    display: none;
}

header.has-error .alert {
    display: block;
}

/** chart */

svg {
    border: 1px solid green;
}

path {
    fill: none;
    stroke: black;
}

.domain {
    stroke: none;
}

.y-axis {
    font-size: 10px;
}

.tick line {
    stroke-width: 1px;
    stroke: lightgray;
    stroke-dasharray: 6px 6px;
    fill: none;
}