<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>ZMON</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" href="img/logo.png">

        <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/zmon.css">
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <header>

            <section class="demo grid">
                <div
                    data-alert="alert-1"
                    data-template="Critical scroll position (<%= value %> px)"
                    class="grid-col alert u-hidden">
                    Critical scroll position
                </div>

                <div
                    data-alert="alert-2"
                    data-template="High scroll position (<%= value %> px)"
                    class="grid-col alert u-hidden">
                    High scroll position
                </div>

                <div
                    data-alert="alert-3"
                    data-template="Low scroll position (<%= value %> px)"
                    class="grid-col alert u-hidden">
                    Low scroll position
                </div>

                <svg class="grid-col">
                    <g class="y-axis" />
                </svg>
            </section>
        </header>

        <section class="hero" id="hero">
            <h1>ZMON</h1>
            <small>Zalando’s Platform Monitoring Tool</small>
            <div>
                <a
                    href="//github.com/zalando/zmon#start-demo-using-vagrant"
                    role="button"
                    class="btn btn-default">
                    Getting started
                </a>
                <a
                    href="https://demo.zmon.io/"
                    role="button"
                    class="btn btn-default">
                    Demo
                </a>
                <a
                    href="https://docs.zmon.io/"
                    role="button"
                    class="btn btn-default">
                    Documentation
                </a>
            </div>
        </section>

        <main class="wrapper">
            <section class="grid with-gutter">
                <div class="grid-col">
                    <h3>Checks and Alerts</h3>
                    <p>
                        Define checks executed on self defined entities.
                        Define alerts with thresholds on checks and entities as it fits your team. Share checks across teams and reuse alerts with inheritance to customize alert levels.
                    </p>
                </div>
                <div class="grid-col">
                    <a href="//tech.zalando.com/blog/images/zmon/zmon-1.png">
                        <img src="//tech.zalando.com/blog/images/zmon/zmon-1.png" alt="">
                    </a>
                </div>
            </section>
            <section class="grid with-gutter">
                <div class="grid-col">
                    <h3>Dashboards and Grafana</h3>
                    <p>
                        Define custom dashboards with widgets and alert filters based on teams and tags. Use Grafana to create chart heavy data dashboards using the stored data from KairosDB.
                    </p>
                </div>
                <div class="grid-col">
                    <a href="img/grafana.png">
                        <img src="img/grafana.png" alt="">
                    </a>
                </div>
            </section>
            <section class="grid with-gutter">
                <div class="grid-col">
                    <h3>Python expressions</h3>
                    <p>Check command and Alert condition are arbitrary Python expressions, giving you a lot of flexibility and power. Python integrates perfectly with low-level tasks and lots of systems you will have deployed in your platform.</p>
                </div>
                <div class="grid-col">
                    <a href="//tech.zalando.com/blog/images/zmon/zmon-2.png">
                        <img src="//tech.zalando.com/blog/images/zmon/zmon-2.png" alt="">
                    </a>
                </div>
            </section>
            <section class="grid with-gutter">
                <div class="grid-col">
                    <h3>Trial Run &amp; Instant Evaluation</h3>
                    <p>
                        Use trial run in the UI to develop your checks/alerts with quick feedback.
                        Trigger instant evaluation from UI for checks on longer intervals to rerun commands.
                    .</p>
                </div>
                <div class="grid-col">
                    <a href="img/trialrun.png">
                        <img src="img/trialrun.png" alt="">
                    </a>
                </div>
            </section>
        </main>
        <footer>
            <main>
                <section class="grid with-gutter">
                    <div class="grid-col">
                        <h4>Zalando Technology</h4>
                        <ul>
                            <li>
                                <a href="//tech.zalando.com">Zalando Tech</a>
                            </li>
                            <li>
                                <a href="//github.com/zalando">Zalando on Github</a>
                            </li>
                            <li>
                                <a href="//twitter.com/ZalandoTech">@ZalandoTech</a>
                            </li>
                            <li>
                                <a href="//tech.zalando.com/jobs">We’re hiring!</a>
                            </li>
                        </ul>
                    </div>
                    <div class="grid-col">
                        <h4>Zalando</h4>
                        <ul>
                            <li>
                                <a href="//zalando.com">Zalando</a>
                            </li>
                            <li>
                                <a href="//corporate.zalando.com/en/">Zalando Corporate</a>
                            </li>
                        </ul>
                    </div>
                </section>
            </main>
        </footer>

        <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
        <script>window.d3 || document.write('<script src="js/d3/d3.js"><\/script>')</script>
        <script src="js/zmon.js"></script>
    </body>
</html>
