<div ng-click="hideTooltips($event)">
    <div class="domains">

        <div class="country-panel country-de">
            <label>zalando.de</label>
            <div class="datacenter">GTH</div>
            <div class="lastmile" data-alertids="">Last mile <span class="fa fa-warning"></span></div>
            <div class="backbone" data-alertids="">Backbone <span class="fa fa-warning"></span></div>
            <div class="orders" data-alertids="576" tooltip-html-unsafe="{{getTooltip([576])}}" tooltip-trigger="click" tooltip-placement="right">Orders <span class="fa fa-warning"></span></div>
        </div>
        <div class="country-panel country-ch">
            <label>zalando.ch</label>
            <div class="datacenter">GTH</div>
            <div class="lastmile" data-alertids="">Last mile <span class="fa fa-warning"></span></div>
            <div class="backbone" data-alertids="">Backbone <span class="fa fa-warning"></span></div>
            <div class="orders" data-alertids="647,650" tooltip-html-unsafe="{{getTooltip([647,650])}}" tooltip-trigger="click">Orders <span class="fa fa-warning"></span></div>
        </div>
        <div class="country-panel country-fr">
            <label>zalando.fr</label>
            <div class="datacenter">GTH</div>
            <div class="lastmile" data-alertids="">Last mile <span class="fa fa-warning"></span></div>
            <div class="backbone" data-alertids="">Backbone <span class="fa fa-warning"></span></div>
            <div class="orders" data-alertids="583" tooltip-html-unsafe="{{getTooltip([583])}}" tooltip-trigger="click">Orders <span class="fa fa-warning"></span></div>
        </div>
        <div class="country-panel country-it">
            <label>zalando.it</label>
            <div class="datacenter">ITR</div>
            <div class="lastmile" data-alertids="">Last mile <span class="fa fa-warning"></span></div>
            <div class="backbone" data-alertids="">Backbone <span class="fa fa-warning"></span></div>
            <div class="orders" data-alertids="586" tooltip-html-unsafe="{{getTooltip([586])}}" tooltip-trigger="click">Orders <span class="fa fa-warning"></span></div>
        </div>
        <div class="country-panel country-nl">
            <label>zalando.nl</label>
            <div class="datacenter">GTH</div>
            <div class="lastmile" data-alertids="">Last mile <span class="fa fa-warning"></span></div>
            <div class="backbone" data-alertids="">Backbone <span class="fa fa-warning"></span></div>
            <div class="orders" data-alertids="580" tooltip-html-unsafe="{{getTooltip([580])}}" tooltip-placement="left" tooltip-trigger="click">Orders <span class="fa fa-warning"></span></div>
        </div>
        <div class="country-panel country-be">
            <label>zalando.be</label>
            <div class="datacenter">GTH</div>
            <div class="lastmile" data-alertids="">Last mile <span class="fa fa-warning"></span></div>
            <div class="backbone" data-alertids="">Backbone <span class="fa fa-warning"></span></div>
            <div class="orders" data-alertids="656,659" tooltip-html-unsafe="{{getTooltip([656,659])}}" tooltip-placement="left" tooltip-trigger="click">Orders <span class="fa fa-warning"></span></div>
        </div>
        <div class="country-panel country-at">
            <label>zalando.at</label>
            <div class="datacenter">ITR</div>
            <div class="lastmile" data-alertids="">Last mile <span class="fa fa-warning"></span></div>
            <div class="backbone" data-alertids="">Backbone <span class="fa fa-warning"></span></div>
            <div class="orders" data-alertids="644" tooltip-html-unsafe="{{getTooltip([644])}}" tooltip-placement="left" tooltip-trigger="click">Orders <span class="fa fa-warning"></span></div>
        </div>
        <div class="country-panel country-se">
            <label>zalando.se</label>
            <div class="datacenter">ITR</div>
            <div class="lastmile" data-alertids="">Last mile <span class="fa fa-warning"></span></div>
            <div class="backbone" data-alertids="">Backbone <span class="fa fa-warning"></span></div>
            <div class="orders" data-alertids="662" tooltip-html-unsafe="{{getTooltip([662])}}" tooltip-trigger="click">Orders <span class="fa fa-warning"></span></div>
        </div>
        <div class="country-panel country-no">
            <label>zalando.no</label>
            <div class="datacenter">ITR</div>
            <div class="lastmile" data-alertids="">Last mile <span class="fa fa-warning"></span></div>
            <div class="backbone" data-alertids="">Backbone <span class="fa fa-warning"></span></div>
            <div class="orders" data-alertids="674" tooltip-html-unsafe="{{getTooltip([674])}}" tooltip-trigger="click">Orders <span class="fa fa-warning"></span></div>
        </div>
        <div class="country-panel country-pl">
            <label>zalando.pl</label>
            <div class="datacenter">ITR</div>
            <div class="lastmile" data-alertids="">Last mile <span class="fa fa-warning"></span></div>
            <div class="backbone" data-alertids="">Backbone <span class="fa fa-warning"></span></div>
            <div class="orders" data-alertids="653" tooltip-html-unsafe="{{getTooltip([653])}}" tooltip-trigger="click">Orders <span class="fa fa-warning"></span></div>
        </div>
        <div class="country-panel country-dk">
            <label>zalando.dk</label>
            <div class="datacenter">ITR</div>
            <div class="lastmile" data-alertids="">Last mile <span class="fa fa-warning"></span></div>
            <div class="backbone" data-alertids="">Backbone <span class="fa fa-warning"></span></div>
            <div class="orders" data-alertids="668" tooltip-html-unsafe="{{getTooltip([668])}}" tooltip-trigger="click">Orders <span class="fa fa-warning"></span></div>
        </div>
        <div class="country-panel country-fi">
            <label>zalando.fi</label>
            <div class="datacenter">ITR</div>
            <div class="lastmile" data-alertids="">Last mile <span class="fa fa-warning"></span></div>
            <div class="backbone" data-alertids="">Backbone <span class="fa fa-warning"></span></div>
            <div class="orders" data-alertids="665" tooltip-html-unsafe="{{getTooltip([665])}}" tooltip-trigger="click">Orders <span class="fa fa-warning"></span></div>
        </div>
        <div class="country-panel country-uk">
            <label>zalando.co.uk</label>
            <div class="datacenter">ITR</div>
            <div class="lastmile" data-alertids="">Last mile <span class="fa fa-warning"></span></div>
            <div class="backbone" data-alertids="">Backbone <span class="fa fa-warning"></span></div>
            <div class="orders" data-alertids="635" tooltip-html-unsafe="{{getTooltip([635])}}" tooltip-trigger="click">Orders <span class="fa fa-warning"></span></div>
        </div>
        <div class="country-panel country-es">
            <label>zalando.es</label>
            <div class="datacenter">ITR</div>
            <div class="lastmile" data-alertids="">Last mile <span class="fa fa-warning"></span></div>
            <div class="backbone" data-alertids="">Backbone <span class="fa fa-warning"></span></div>
            <div class="orders" data-alertids="671" tooltip-html-unsafe="{{getTooltip([671])}}" tooltip-trigger="click">Orders <span class="fa fa-warning"></span></div>
        </div>
    </div>

    <div class="left backbones">
        <div class="cloud-wrapper cdn has-tooltip" data-alertids="1998" tooltip-html-unsafe="{{getTooltip([1998])}}" tooltip-trigger="click" tooltip-placement="right">
            <div class="fa fa-cloud fa-5x"></div>
            <label>CDN</label>
        </div>
        <div class="cloud-wrapper prolexic" data-alertids="">
            <div class="fa fa-cloud fa-5x"></div>
            <label>Prolexic</label>
        </div>
    </div>

    <div class="connections">

        <div class="left datacenter gth" data-alertids="1324" tooltip-html-unsafe="{{getTooltip([1324])}}" tooltip-trigger="click" tooltip-placement="right">
            <h4>GTH</h4>
            <div class="salesforce" data-alertids="1436" tooltip-html-unsafe="{{getTooltip([1436])}}" tooltip-trigger="click" tooltip-placement="right">Salesforce</div>
            <div class="router" data-alertids="1417,1419,1422" tooltip-html-unsafe="{{getTooltip([1417,1419,1422])}}" tooltip-trigger="click" tooltip-placement="right">Router</div>
            <div class="eventlog" data-alertids="1424,1426" tooltip-html-unsafe="{{getTooltip([1424,1426])}}" tooltip-trigger="click" tooltip-placement="right">Eventlog</div>
            <div class="vpn" data-alertids="1633,1631" tooltip-html-unsafe="{{getTooltip([1633,1631])}}" tooltip-trigger="click" tooltip-placement="right">VPN</div>
            <div class="shop" data-alertids="1988,1990,1992,1994" tooltip-html-unsafe="{{getTooltip([1988,1990,1992,1994])}}" tooltip-trigger="click" tooltip-placement="right">Shop</div>
            <div class="lounge" data-alertids="">Lounge</div>
            <div class="database" data-alertids="1433,1435,1429,1431" tooltip-html-unsafe="{{getTooltip([1433,1435,1429,1431])}}" tooltip-trigger="click" tooltip-placement="right">DB</div>
            <div class="lb" data-alertids="1501,1503,1505" tooltip-html-unsafe="{{getTooltip([1501,1503,1505])}}" tooltip-trigger="click" tooltip-placement="right">LB</div>
            <div class="netapp" data-alertids="1996" tooltip-html-unsafe="{{getTooltip([1996])}}" tooltip-trigger="click" tooltip-placement="right">Netapp</div>
            <div class="solr" data-alertids="2659" tooltip-html-unsafe="{{getTooltip([2659])}}" tooltip-trigger="click" tooltip-placement="right">Shop Solr</div>
            <div class="services" data-alertids="">Services</div>
            <div class="ident stock" data-alertids="">Stock</div>
            <div class="ident order" data-alertids="">Order</div>
            <div class="ident payment" data-alertids="">Payment</div>
            <div class="ident customer" data-alertids="">Customer</div>
        </div>

        <div class="right datacenter itr" data-alertids="1314" tooltip-html-unsafe="{{getTooltip([1314])}}" tooltip-trigger="click" tooltip-placement="left">
            <h4>ITR</h4>
            <div class="salesforce" data-alertids="1437" tooltip-html-unsafe="{{getTooltip([1437])}}" tooltip-trigger="click" tooltip-placement="left">Salesforce</div>
            <div class="router" data-alertids="1418,1420,1421" tooltip-html-unsafe="{{getTooltip([1418,1420,1421])}}" tooltip-trigger="click" tooltip-placement="left">Router</div>
            <div class="eventlog" data-alertids="1423,1425" tooltip-html-unsafe="{{getTooltip([1423,1425])}}" tooltip-trigger="click" tooltip-placement="left">Eventlog</div>
            <div class="vpn" data-alertids="1632,1630" tooltip-html-unsafe="{{getTooltip([1632,1630])}}" tooltip-trigger="click" tooltip-placement="left">VPN</div>
            <div class="shop" data-alertids="1987,1989,1991,1993" tooltip-html-unsafe="{{getTooltip([1987,1989,1991,1993])}}" tooltip-trigger="click" tooltip-placement="left">Shop</div>
            <div class="lounge" data-alertids="">Lounge</div>
            <div class="database" data-alertids="1432,1434,1428,1430" tooltip-html-unsafe="{{getTooltip([1432,1434,1428,1430])}}" tooltip-trigger="click" tooltip-placement="left">DB</div>
            <div class="lb" data-alertids="1499,1502,1504" tooltip-html-unsafe="{{getTooltip([1499,1502,1504])}}" tooltip-trigger="click" tooltip-placement="left">LB</div>
            <div class="netapp" data-alertids="1995" tooltip-html-unsafe="{{getTooltip([1995])}}" tooltip-trigger="click" tooltip-placement="left">Netapp</div>
            <div class="solr" data-alertids="2660" tooltip-html-unsafe="{{getTooltip([2660])}}" tooltip-trigger="click" tooltip-placement="left">Shop Solr</div>
            <div class="services" data-alertids="">Services</div>
            <div class="ident stock" data-alertids="">Stock</div>
            <div class="ident order" data-alertids="">Order</div>
            <div class="ident payment" data-alertids="">Payment</div>
            <div class="ident customer" data-alertids="">Customer</div>
        </div>

        <div class="conn conn10g gth-itr" data-alertids="1820,1821" tooltip-html-unsafe="{{getTooltip([1820])}}" tooltip-trigger="click" tooltip-placement="top">10G</div>

        <div class="conn conn1g gth-bmo" data-alertids="">1G</div>

        <div class="office bmo" data-alertids="1346,1326" tooltip-html-unsafe="{{getTooltip([1346,1326])}}" tooltip-trigger="click" tooltip-placement="top">
            <h4>BMO</h4>
            <div class="netapp" data-alertids="">Netapp</div>
        </div>

        <div class="conn conn10g bmo-bnb" data-alertids="1775,1762" tooltip-html-unsafe="{{getTooltip([1775,1762])}}" tooltip-trigger="click" tooltip-placement="top">10G</div>
        <div class="conn conn10g bmo-bnb-2" data-alertids="">10G</div>

        <div class="office bnb" data-alertids="1347,1325" tooltip-html-unsafe="{{getTooltip([1347,1325])}}" tooltip-trigger="click" tooltip-placement="top">
            <h4>BNB</h4>
            <div class="netapp" data-alertids="">Netapp</div>
        </div>

        <div class="conn conn10g itr-bnb" data-alertids="1785,1802" tooltip-html-unsafe="{{getTooltip([1785,1802])}}" tooltip-trigger="click" tooltip-placement="top">10G</div>

        <div class="conn conn1g itr-gth" data-alertids="1820,1821" tooltip-html-unsafe="{{getTooltip([1820,1821])}}" tooltip-trigger="click" tooltip-placement="bottom">1G</div>

        <div class="warehouse elz" data-alertids="1349" tooltip-html-unsafe="{{getTooltip([1349])}}" tooltip-trigger="click" tooltip-placement="bottom">ELZ</div>
        <div class="warehouse mlz" data-alertids="1350" tooltip-html-unsafe="{{getTooltip([1350])}}" tooltip-trigger="click" tooltip-placement="bottom">MLZ</div>
        <div class="warehouse bri" data-alertids="1351" tooltip-html-unsafe="{{getTooltip([1351])}}" tooltip-trigger="click" tooltip-placement="bottom">BRI</div>
    </div>

    <div class="payment-subsystem">
        <div class="left office pay-one" data-alertids="2119,3052" tooltip-html-unsafe="{{getTooltip([2119,3052])}}" tooltip-trigger="click" tooltip-placement="left">PayOne</div>
        <div class="conn payone-service conn-vertical conn-arrow" data-alertids="">←</div>
        <div class="left office" data-alertids="3048,3051" tooltip-html-unsafe="{{getTooltip([3048,3051])}}" tooltip-trigger="click" tooltip-placement="left">Payment Service</div>
        <div class="conn service-engine conn-arrow" data-alertids="">→</div>
        <div class="office payment-engine" data-alertids="3047,3050" tooltip-html-unsafe="{{getTooltip([3047,3050])}}" tooltip-trigger="click" tooltip-placement="left">Payment Engine</div>
        <div class="conn engine-cda conn-vertical conn-arrow" data-alertids="3046,3049" tooltip-html-unsafe="{{getTooltip([3046,3049])}}" tooltip-trigger="click" tooltip-placement="left">→</div>
        <div class="conn engine-entities" data-alertids=""></div>
        <div class="office cda" data-alertids="3046,3049" tooltip-html-unsafe="{{getTooltip([3046,3049])}}" tooltip-trigger="click" tooltip-placement="left">CDA</div>
        <div class="conn conn-payment-entity conn-vertical half-up" data-alertids=""></div>
        <div class="conn conn-payment-entity conn-vertical half-down" data-alertids=""></div>

        <div class="right">
            <div class="payment-entity" data-alertids="2813" tooltip-html-unsafe="{{getTooltip([2813])}}" tooltip-trigger="click" tooltip-placement="left">CreditCard</div>
            <div class="conn conn-payment-entity conn-arrow" data-alertids="2813">→</div>
            <div class="payment-entity" data-alertids="2815" tooltip-html-unsafe="{{getTooltip([2815])}}" tooltip-trigger="click" tooltip-placement="left">PayPal</div>
            <div class="conn conn-payment-entity conn-arrow" data-alertids="">→</div>
            <div class="payment-entity" data-alertids="2814" tooltip-html-unsafe="{{getTooltip([2814])}}" tooltip-trigger="click" tooltip-placement="left">iDEAL</div>
            <div class="conn conn-payment-entity conn-arrow" data-alertids="">→</div>
            <div class="payment-entity" data-alertids="2810" tooltip-html-unsafe="{{getTooltip([2810])}}" tooltip-trigger="click" tooltip-placement="left">EPS</div>
            <div class="conn conn-payment-entity conn-arrow" data-alertids="">→</div>
            <div class="payment-entity" data-alertids="2812" tooltip-html-unsafe="{{getTooltip([2812])}}" tooltip-trigger="click" tooltip-placement="left">Maksuturva</div>
            <div class="conn conn-payment-entity conn-arrow" data-alertids="">→</div>
            <div class="payment-entity" data-alertids="2816" tooltip-html-unsafe="{{getTooltip([2816])}}" tooltip-trigger="click" tooltip-placement="left">P24</div>
            <div class="conn conn-payment-entity conn-arrow" data-alertids="">→</div>
        </div>
    </div>

    <div class="platform-services">
        <h4>Platform:</h4>
        <ul class="list-unstyled list-inline">
            <li class="office"><div data-alertids="1014,2794,2795,2796" tooltip-html-unsafe="{{getTooltip([1014,2794,2795,2796])}}" tooltip-trigger="click" tooltip-placement="top">LDAP</div></li>
            <li class="office"><div data-alertids="2966,2930,2933,2910" tooltip-html-unsafe="{{getTooltip([2966,2930,2933,2910])}}" tooltip-trigger="click" tooltip-placement="top">Stash</div></li>
        </ul>
    </div>
</div>
