<div>
    <div class="frontend-status">
        <h3>Frontend Status (Zalando &amp; Lounge)</h3>
        <div class="country-de" data-alertids="91">
            <label>DE</label>
            <span>GTH</span>
        </div>
        <div class="country-nl" data-alertids="2">
            <label>NL</label>
            <span>GTH</span>
        </div>
        <div class="country-fr" data-alertids="3">
            <label>FR</label>
            <span>GTH</span>
        </div>
        <div class="country-it" data-alertids="4">
            <label>IT</label>
            <span>GTH</span>
        </div>
        <div class="country-uk" data-alertids="5">
            <label>UK</label>
            <span>GTH</span>
        </div>
        <div class="country-no" data-alertids="15">
            <label>NO</label>
            <span>ITR</span>
        </div>
    </div>

    <div class="datacenter-status">
        <h3>Datacenter Status</h3>

        <div class="left datacenter o2">
            <h4>GTH</h4>
            <div class="vpn" data-alertids="1,18">VPN</div>
            <div class="shop" data-alertids="2,19">Shop (Zalando &amp; Lounge)</div>
            <div class="lb" data-alertids="3,20">LB</div>
            <div class="solr" data-alertids="4,21">Solr</div>
            <div class="fw" data-alertids="5,22">FW</div>
            <div class="customer" data-alertids="6,23">Customer</div>
            <div class="router" data-alertids="7,24">Router</div>
            <div class="database" data-alertids="8,25">Database</div>
            <div class="eventlog" data-alertids="9,26">Eventlog</div>
        </div>

        <div class="right datacenter itr">
            <h4>ITR</h4>
            <div class="vpn" data-alertids="10,30">VPN</div>
            <div class="shop" data-alertids="11,31">Shop (Zalando &amp; Lounge)</div>
            <div class="lb" data-alertids="12,32">LB</div>
            <div class="solr" data-alertids="13,33">Solr</div>
            <div class="fw" data-alertids="14,34">FW</div>
            <div class="customer" data-alertids="15,35">Customer</div>
            <div class="router" data-alertids="16,36">Router</div>
            <div class="database" data-alertids="17,37">Database</div>
            <div class="eventlog" data-alertids="18,38">Eventlog</div>
        </div>

        <div class="connH conn10g">10G</div>
        <div class="connH conn1g">1G</div>
    </div>

    <div class="datacenter-office-conn">
        <div class="left connV conn1g">1G</div>
        <div class="right connV conn10g">10G</div>
    </div>

    <div class="office-status">
        <div class="left office bmo">
            <h4>BMO</h4>
            <div class="router">Router</div>
        </div>

        <div class="right office bnb">
            <h4>BNB</h4>
            <div class="router">Router</div>
        </div>

        <div class="connH conn10g">10G</div>
        <div class="connH conn10g">10G</div>
    </div>
</div>
