<div class="comments modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="closeDialog()" aria-hidden="true">&times;</button>
        <h4 class="modal-title left">Comments</h4>
        <button type="button" class="more-comments btn btn-default btn-xs" ng-hide="allLoaded" ng-click="loadComments()">More comments</button>
      </div>
      <div class="modal-body">
        <div class="comments-container">
          <div class="panel panel-default" ng-repeat="comment in comments | orderBy: 'last_modified'">
            <div class="panel-body">
              <div class="comment-text">{{comment.comment}}</div>
              <button type="button" ng-if="comment.deletable" class="close" ng-click="removeComment(comment.id)" aria-hidden="true">&times;</button>
              <div class="comment-label" ng-class="{author: comment.created_by == userInfo.user}">{{comment.created_by}} {{comment.last_modified/1000 | epochToDate}}</div>
              <div ng-if="comment.entity_id" class="comment-label-entity">{{comment.entity_id}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer no-margin">
        <form name="form" novalid ng-show="userInfo.user">
          <div class="col-xs-12 entity-container">
                <div ng-if="entity" class="entity-label" ng-click="removeEntity()">{{entity}} &times;</div>
          </div>
          <div class="col-xs-10">
            <textarea class="form-control" ng-model="comment.comment" placeholder="Comment text..." required></textarea>
          </div>
          <div class="col-xs-2">
            <button type="button" class="btn btn-primary" ng-disabled="form.$invalid" ng-click="addComment()">Post comment</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<span class="modalTrigger" ng-show="userInfo['add-comment']" ng-click="openDialog()"><i class="fa fa-fw fa-comments-o"></i>{{label}}<span ng-if="indicator"> {{counter}}</span></span>